@{
    ViewData["Title"] = "Home Page";
}

<div id="app" class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <hello index="12"></hello>
</div>
<script src="~/bundle.js"></script>